* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) and (min-width: 320px) {
  header {
    flex-direction: column;
    align-items: flex-start; 
   }

  nav {
    margin-left: 0;
    text-align: left;
  }
  /* Mobile nav icons */

  .home {
    display: inline-flex;
    align-items: center;
    font-size: 0;
  }
  .home::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('assets/mobile-nav-icons/home.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
  }
  .about {
    display: inline-flex;
    align-items: center;
    font-size: 0;
  }

  .about::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('assets/mobile-nav-icons/information.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
  }

  .our-work {
    display: inline-flex;
    align-items: center;
    font-size: 0;
  }

  .our-work::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('assets/mobile-nav-icons/hard-work.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
  }

  .contact {
    display: inline-flex;
    align-items: center;
    font-size: 0;
  }

  .contact::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('assets/mobile-nav-icons/contact-form.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
  }
 
  .services {
    flex-direction: column;
    gap: 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
  

/* Header styles */
header {
  display: flex;
  align-items: center;
  background-color: #d9015c;
  color: #fef5e2;
  padding: 0 20px;
}

a {
  color: #fef5e2;
  font-size: large;
  font-weight: bold;
  font-family: Garamond, sans-serif;
  padding: 20px;
}

a:hover {
  color: hsl(121, 59%, 26%);
}

nav {
  margin-left: auto;
  text-align: right;
}

#logo {
  width: 70px;
  height: 70px;
  max-width: 100%;
  height: auto;
}

/* Main content styles */

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ecdac3;
  color: #441113;
}
/* Home page styles */

#main-h1 {
  background-color: #ecdac3;
  background-image: url("https://images.unsplash.com/photo-1556607356-981b53ee3b63?q=80&w=1175&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fef5e2;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.services2 {
  border: hsl(121, 59%, 26%) solid 4px;
  padding: 1rem;
  margin: 2rem;
  font-size: large;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.services2:hover {
  transform: scale(1.05);
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#main {
  text-align: center;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
}
.info {
  text-align: center;
  font-weight: bold;
}

/* About us section styles */

#main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #ecdac3;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://plus.unsplash.com/premium_photo-1661340731247-6700b6e02873?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#content p {
  margin: 2rem;
  border: #bd5d85 solid 4px;
  padding: 2rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
  background-color: #ecdac3;
  color: #441113;
}

#image {
  visibility: hidden;
}

/* Our work section styles */

#our-work {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  min-height: 200px;
  position: relative;
}

.images {
  flex: 1;
  border-radius: 25% 10%;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}

#our-work .images img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* footer styles */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #d9015c;
  color: #ecdac3;
  text-align: center;
  line-height: 1.25rem;
}

footer a {
  margin: 10px;
  width: 30%;
}

/* Contact form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#send {
  color: #441113;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
